<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NoktaDLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <applicationSettings>
    <NoktaDLL.Properties.Settings>
      <setting name="NoktaDLL_ReceteKaydet_SaglikTesisiReceteIslemleriService"
        serializeAs="String">
        <value>http://medeczane.sgk.gov.tr/medula/eczane/saglikTesisiReceteIslemleriWS</value>
      </setting>
      <setting name="NoktaDLL_HastaKabul_HastaKabulIslemleriService"
        serializeAs="String">
        <value>http://saglikt.sgk.gov.tr/medula/hastane/hastaKabulIslemleriWS</value>
      </setting>
      <setting name="NoktaDLL_SYSSaglikNet_SYSWS" serializeAs="String">
        <value>http://sys.sagliknet.saglik.gov.tr/SYS/SYSWS.svc</value>
      </setting>
      <setting name="NoktaDLL_sagliknetOP_OnlineProtokol" serializeAs="String">
        <value>http://op.sagliknet.saglik.gov.tr:84/onlineprotokol.asmx</value>
      </setting>
      <setting name="NoktaDLL_NabizHBYS_NabizHBYS" serializeAs="String">
        <value>https://www.enabiz.gov.tr/NabizHBYS/NabizHBYS.svc</value>
      </setting>
      <setting name="NoktaDLL_SKRSSistemler_WSSKRSSistemlerService"
        serializeAs="String">
        <value>https://yws.sagliknet.saglik.gov.tr/ESaglikYardimciServislerApp-WSHariciWebServisleri/WSSKRSSistemlerPort</value>
      </setting>
    </NoktaDLL.Properties.Settings>
  </applicationSettings>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
    <diagnostics>
      <trace autoflush="true" enabled="true" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
      <security>
          <timeToleranceInSeconds value="4200" />
      </security>
  </microsoft.web.services3>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_KisiSorgulaTCKimlikNoServis">
          <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
            requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
            <issuedTokenParameters>
              <additionalRequestParameters>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                </trust:SecondaryParameters>
              </additionalRequestParameters>
              <issuer address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13"
                binding="ws2007HttpBinding" bindingConfiguration="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13" />
              <issuerMetadata address="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/mex" />
            </issuedTokenParameters>
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="CustomBinding_TcKimlikNoSorgulaAdresServis" />
      </customBinding>
      <ws2007HttpBinding>
        <binding name="https://kimlikdogrulama.nvi.gov.tr/Services/Issuer.svc/IWSTrust13">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="https://kpsv2.nvi.gov.tr/Services/RoutingService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_KisiSorgulaTCKimlikNoServis"
        contract="KisiSorgulaTCKimlikNo.KisiSorgulaTCKimlikNoServis"
        name="CustomBinding_KisiSorgulaTCKimlikNoServis" />
    </client>
  </system.serviceModel>
</configuration>